<!DOCTYPE html>
<html>
  <head>
    <title>Successful Payment</title>
  </head>
  <body>
    <div class="text-center">
      <h1 class="text-4xl font-bold mt-8">Payment Successful!</h1>
      <p class="mt-4">Thank you, we just received your payment for $<%= params[:price] %>.</p>
    </div>

    <div class="mt-8">
      <img src="/images/payment.gif" alt="Envelope flying" class="w-64 h-auto mx-auto">
    </div>

  </body>
</html>
