<!DOCTYPE html>
<html>
  <head>
    <title>Successful Payment</title>
    <!-- Your CSS and JavaScript includes here -->
  </head>
  <body>
    <h1>Payment Successful!</h1>
    <%# <p>You just paid <%= number_to_currency(@payment.amount) %></p> 
    <%# <p>Your new balance <%= number_to_currency(current_user.charges.sum(:amount)) %></p> 
    <!-- Additional content or information you want to display -->
  </body>
</html>
