<!-- app/views/houses/house_options.html.erb -->
<h1>Not yet a member of a house?</h1>

<p>Click here to get started:</p>

<%= link_to 'Create a House', new_house_path %>
<%= link_to 'Join a House', join_house_path %>
