<div class="flex justify-center items-center h-screen">
  <div class="w-full md:w-2/3 lg:w-1/2 bg-white p-8 shadow-md rounded flex justify-center items-center flex-col">
    <h1 class="text-3xl font-bold mb-4">Not yet a member of a house?</h1>
    <p class="text-lg mb-4">Click here to get started:</p>

    <%= link_to 'Create a House', new_house_path, class: 'btn btn-primary mb-2' %>
    <%= link_to 'Join a House', join_house_path, class: 'btn btn-secondary' %>
  </div>
</div>
