<h1>Join a House</h1>

<%= form_with url: join_house_path, method: :post do |form| %>
  <div>
    <%= form.label :house_name %>
    <%= form.text_field :house_name %>
  </div>

  <div>
  <label for="house_password">Password:   </label>
  <input type="password" name="house_password" id="house_password" />

  </div>

  <%= form.submit 'Join House' %>
<% end %>
